	<!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="category">Todas categorias</a></li>
                    <li><a href="#">Ofertas do Dia</a></li> 
                    <li><a href="#">Lista de Desejos</a></li>
                    <li><a href="#">Melhores Avaliações</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ajuda</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->